#app {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	position: absolute;
}

.App {
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 280px;
	height: 400px;
}
.App .Artwork {
	width: 280px;
	height: 280px;
	background-size: cover;
	position: relative;
}
.App .Artwork:hover .Controls {
	background: rgba(41, 23, 32, 0.8);
}
.App .Artwork .Controls {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 280px;
	box-sizing: border-box;
	background: rgba(41, 23, 32, 0.3);
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding: 20px 0;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: background .125s ease;
	transition: background .125s ease;
}
.App .Artwork .Controls .fa-play,
.App .Artwork .Controls .fa-pause {
	-webkit-transform: scale(2);
	transform: scale(2);
}
.App .TrackList {
	width: 280px;
	height: 120px;
	background: #4a293a;
	overflow-y: auto;
	padding: 0px;
}
.App .TrackList li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 10px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 300;
}
.App .TrackList li:hover {
	background: #39202d;
	cursor: pointer;
	color: #d90368;
}
.App .TrackList li:hover .duration {
	opacity: 1;
}
.App .TrackList li .title {
	margin-left: 10px;
	font-weight: 500;
	letter-spacing: .12em;
}
.App .TrackList li .duration {
	margin-left: auto;
	opacity: .25;
}

.App .TrackList li.selected {
	background: #39202d;
	cursor: default;
	color: #d90368;
}
