body {
	font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
		'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	margin: 0;
	text-align: center;
	color: #293c4b;
}

.sidebar_back {
	top: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	background: #efefef;
	position: absolute;
}
